.chatlist{
    background-color: white;
    width: fit-content;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 20px; bottom: 0;
    padding: 25px 40px;
    border-radius: 15% 15% 0 0;
    text-align: right;
}

.chatlist h3{
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

.onechat{
    margin: 10px 0;
    text-align: center;
}

.chatbox{
    background-color: #F0F2F5;
    border-radius: 10% 10% 0 0;
}

.chatbox img{
    margin-top: 5px;
    margin-right: 5px;
}

.messages{
    background-color: #F0F2F5;
    padding: 10px 5px;
    text-align: left;
}

.chat-submit{
    background-color: white;
}

.chat-submit input{
    width: 100%;
    box-sizing:border-box;
    padding: 2px 5px;
}

.chat-submit button{
    width: 25%;
}