.user-form{
    background-color: white;
    padding: 60px 40px;
    border-radius: 50px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 40px;
}

.user-form h1{
    font-size: 3.5em;
    font-weight: 600;
    text-align: center;
}

.user-form h2{
    text-align: center;
}

.user-form h3{
    text-align: right;
    margin-top: 6px;
    font-size: .8em;
}

.user-form p{
    font-size: .8em;
    text-align: center;
    margin-top: 6px;
    color: #abacad;
}

.user-form a{
    color: #5690C3;
}

.justify-between{
    justify-content: space-between;
}

.user-form label{
    margin-right: 15px;
    font-size: 1.5em;
}

.user-input-div{
    margin-top: 40px;
}

.user-input-div div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container{
    text-align: center;
}

.user-form input{
    border: none;
    padding: 8px 13px;
    font-size: 1em;
}

.user-form input[type=email], .user-form input[type=password], .user-form input[type=text]{
    background-color: #F0F2F5;
    border-bottom: 2px solid #5690C3;
    width: 200px;
}

.user-form input[type=email]:focus, .user-form input[type=password]:focus, .user-form input[type=text]:focus{
    transition: 350ms;
    outline: none;
    border-bottom: 2px solid #D89859;
}

.user-form input[type=submit]{
    border-radius: 5px;
    background-color: #5690C3;
    color: #F0F2F5;
    cursor: pointer;
    width: 80%;
    margin-top: 25px;
}

.user-form input[type=submit]:hover{
    transition: 350ms;
    background-color: #6ca7da;
}

.user-form input[type=submit]:active{
    transition: 100ms;
    background-color: #D89859;
}