.logout{
    color: white;
    border-radius: 50px;
    padding: 7px 17px;
    background-color: #1b4d58;
    border: none;
    cursor: pointer;
}

.logout:hover{
    background-color:#26616e;
}

.logout:active{
    background-color:#12353d;
}