.post-container,
.post-form-container {
    position: fixed;
    display: flex;
    z-index: 9002;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(216, 216, 215, 0.7);
}

.post,
.post-form {
    display: inline-block;
    border-radius: 15px;
    padding: 15px;
}

.post {
    background-color: #FFFFFF;
    max-height: 100%;
    width: 60vw;
    min-width: 50vw;
    overflow-y: auto;
}

.title {
    font-weight: 800;
}

.location {
    font-size: 13px;
}

.description {
    font-size: 15px;
    padding-top: 5px;
    
}

.image {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.image > img{
    max-width: 75%;
}

.bottom {
    display: flex;
    justify-content: space-between;
    
}

.email {
    display: flex;
    flex-direction: column;
}

.padding {
    padding-top: 15px;
}

.x {
    height: 16px;
    cursor: pointer;
}

.post-head-container {
    display: flex;
    justify-content: space-between;
}

.supply-drop {
    height: 50px;
}

