.display-flex-center {
    display: flex;
    justify-content: center;
}

.create {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #ffff;
    width: 800px;
    border-radius: 15px;
    padding: 15px;
}

.create-contain{
    display: flex;
    align-items: center;
    justify-content: center;

}

.create-box {
    background-color: #f0f2f5;
    width: 750px;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    color: #66686C;
    margin-left: 5px;
    font-size: 17px;
}

.create-box:hover {
    background-color: #c0c4c9;
    transition: 0.3s;
}

.supply-drop {
    height: 50px;
}