.post-contain { 
    background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 20px 0px;
    width: 800px;
    border-radius: 15px;
    border: none;
    padding: 15px;
}

.display-flex-center{
    display: flex;
    justify-content: center;
    height: 200px;
}

.image {
    height: 400px;
    width: auto;
    display: flex;
    justify-content: center;
}

.post-header {
    
    cursor: pointer;
}

.title {
    font-weight: 800;
}

.location {
    font-size: 13px;
}

.description {
    font-size: 15px;
    padding-top: 5px;
}

.locationImage {
    height: 16px
}

.location-container {
    display: flex;
    align-items: center;
}

.edit-delete-container {
    display: flex;
    justify-content: end;
    padding-right: 15px;
}

.edit-trash {
    padding-left: 15px;
    
    height: 16px;
    cursor: pointer;
}
.edit-trash::hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

